<!-- Generated template for the WelcomeComponent component -->
  <div class="welcome">
    <h3>Connected as: Karandeep</h3>
    <p>Sharing will start shortly</p>
    <br>
    <br>
   <img src="../assets/imgs/sample.jpg" class="avatar">
    <h2>Dr. Allan Kaufman</h2>
    <p>MBBS. MD</p>
    <p><ion-icon name="ios-call-outline"></ion-icon>&nbsp;647-404-1889</p>
    <p><ion-icon name="ios-mail-outline"></ion-icon>&nbsp;alan.kaufman@indegene.com</p>
</div>

