welcome {
    background: linear-gradient(#065A9B, #1B75BB);
    .welcome{
        margin-top: 4%;
        margin-bottom: auto;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width:55em;
        color:white;
    }
    @media only screen and (max-width: 450px){
        .welcome{
            width: 100%;
            margin-top:20%;
            
        }
    }
}
