

<ion-content class="noPhone" no-padding [ngClass]="{'bgColor': exitApp}">
    
    <div class="thankYou" *ngIf="exitApp">
      <h3>Thank You</h3>
      <br>
      <p>Thanks for participating. For further inquiries,
        <br>you can reach us on our website below.</p>
      <br>
      <a style="color:white" href="https://indegene.com/">www.indegene.com</a>
    </div>
    <div class="wrap">
  
      <div class="left-pane">
        <ion-grid>
  
          <ion-row>
            
            <ion-col *ngIf="!exitApp" col-2 style="background:#003E6E;">
              <ion-list no-lines>
                <ion-item style="background:#003E6E; height:10vh">
                  <button ion-button clear (click)="openInfo()">
                    <ion-icon class="infoIcon" name="ios-information-circle-outline"></ion-icon>
                  </button>
                </ion-item>
                <ion-item style="background:#003E6E; height:10vh;">
                  <button ion-button clear (click)="openPresenterInfo()">
                    <ion-icon class="infoIcon" name="person"></ion-icon>
                  </button>
                </ion-item>
  
                <ion-item style="background:#003E6E; height:70vh;">
                  <button ion-button clear (click)="exit()">
                    <ion-icon class="infoIcon" name="md-exit"></ion-icon>
                  </button>
                </ion-item>
  
              </ion-list>
            </ion-col>
           
            <!--ion-col col-1 class="infoIcon">
              <ion-icon name="ios-information-circle-outline"></ion-icon>
            </ion-col-->
  
            <ion-col *ngIf="openInfoSection" class="info" col-10 style="color:white">
              <h3 text-center>Healthrix Business Information</h3>
  
              <p style=" padding:8px;margin-top:0;">
                We help global healthcare organizations address complex challenges by seamlessly integrating analytics, technology, operations
                and medical expertise. Clients choose Indegene when they want real results. We help clients drive revenue and
                productivity by making giant leaps in digital transformation, customer engagement, health reform, healthcare
                cost reduction, and health outcomes improvement. We work with over 85 global customers including bio-tech companies,
                medical device manufacturers, life science organizations, health plans, accountable care organizations, healthcare
                co-ops, and provider organizations. We offer Medical, Marketing, Risk, Healthcare Quality, Clinical Effectiveness,
                and Care Management solutions through a comprehensive portfolio of solutions and technology platforms. With
                offices in the United States, United Kingdom, China, India, and Australia, Indegene can partner globally with
                clients; leverage a global talent pool of clinicians, technologists, creative specialists, domain experts,
                and business process specialists; deploy global infrastructure assets; and harness global healthcare knowledge
                to solve complex industry challenges. We are recognized global leaders in improving health and business outcomes
                for the healthcare industry. Our teams, products, and innovation are recognized by leading analyst firms, industry
                associations and most importantly by our customers winning in the market place. With over 50 industry awards
                across customer engagement, creative and medical, our ability to drive real outcomes for our customers is unparalleled.
              </p>
            </ion-col>
  
            <ion-col *ngIf="openPresInfo" class="welcome" col-10>
              <h3>Connected as: Karandeep</h3>
              <p>Sharing will start shortly</p>
              <br>
              <br>
              <img src="../assets/imgs/sample.jpg" class="avatar">
              <h2>Dr. Allan Kaufman</h2>
              <p>MBBS. MD</p>
              <p>
                <ion-icon name="ios-call-outline"></ion-icon>&nbsp;647-404-1889</p>
              <p>
                <ion-icon name="ios-mail-outline"></ion-icon>&nbsp;alan.kaufman@indegene.com</p>
            </ion-col>
          </ion-row>
  
  
        </ion-grid>
  
      </div>
      <div class="right-pane" text-left>
        <div *ngIf="!exitApp">
          <h3>Join Meeting</h3>
          <div *ngIf='loginStage === 0'>
            <p style="font-size:1.5em;">
              Please enter the 4-digit meeting ID
            </p>
  
            <ion-input class="tokenInput" type="text" maxlength="1" tabindex="1" (keyup)="moveFocus(accessToken2)" #accessToken1></ion-input>
            <ion-input class="tokenInput" type="text" maxlength="1" tabindex="2" (keyup)="moveFocus(accessToken3)" #accessToken2></ion-input>
            <ion-input class="tokenInput" type="text" maxlength="1" tabindex="3" (keyup)="moveFocus(accessToken4)" #accessToken3></ion-input>
            <ion-input class="tokenInput" type="text" maxlength="1" tabindex="4" #accessToken4></ion-input>
            <br>
            <br>
            <button #continue ion-button secondary (click)="continueStageOne()">Continue</button>
            <button #clear ion-button secondary (click)="clearAccessTokenInputs()">Clear</button>
          </div>
  
          <div *ngIf='loginStage === 1'>
            <p style="font-size:1.5em;">Please choose your name below</p>
            <div style="height:250px;overflow:auto">
              <ion-list radio-group [(ngModel)]="selectedContact">
                <ion-item class="item" *ngFor="let contact of contact.contacts" >
                  <ion-label>{{contact.name}}</ion-label>
                  <ion-radio (click)="selectContact(contact)" [value]="contact"></ion-radio>
                </ion-item>
              </ion-list>
            </div>
  
            <p style="font-size:1.5em;">Not on the list? You may also join as guest by entering your name</p>
            <ion-item class="transparentBackground">
              <ion-label>
                <ion-icon name="person"></ion-icon>
              </ion-label>
              <ion-input #guestNameInput type="text" placeholder="Please enter your name">
              </ion-input>
            </ion-item>
            <br>
            <br>
            <button class="btnWidth" ion-button primary outline (click)="backToHome()">Back</button>
            <button class="btnWidth" ion-button primary (click)="continueStageTwo()">Continue</button>
  
          </div>
        </div>
  
      </div>
    </div>
  </ion-content>

<ion-content  class="phone" no-padding [ngClass]="{'bgColor': exitApp}">
<div class="phone">
    <div class="thankYou" *ngIf="exitApp">
        <h3>Thank You</h3>
        <br>
        <p>Thanks for participating. For further inquiries,
          <br>you can reach us on our website below.</p>
        <br>
        <a style="color:white" href="https://indegene.com/">www.indegene.com</a>
      </div>
  <ion-grid>
    <ion-row>
      <ion-col col-12 class="input">
        <div *ngIf="!exitApp && !openPresInfo" text-center>
          <h3>Join Meeting</h3>
          <div *ngIf='loginStage === 0'>
            <p style="font-size:1.5em;">
              Please enter the 4-digit meeting ID
            </p>

            <ion-input class="tokenInput" type="text" maxlength="1" tabindex="1" (keyup)="moveFocus(accessToken2)" #accessToken1></ion-input>
            <ion-input class="tokenInput" type="text" maxlength="1" tabindex="2" (keyup)="moveFocus(accessToken3)" #accessToken2></ion-input>
            <ion-input class="tokenInput" type="text" maxlength="1" tabindex="3" (keyup)="moveFocus(accessToken4)" #accessToken3></ion-input>
            <ion-input class="tokenInput" type="text" maxlength="1" tabindex="4" #accessToken4></ion-input>
            <br>
            <br>
            <button #continue ion-button secondary (click)="continueStageOne()">Continue</button>
            <button #clear ion-button secondary (click)="clearAccessTokenInputs()">Clear</button>
          </div>

          <div *ngIf='loginStage === 1'>
            <p style="font-size:1.5em;">Please choose your name below</p>
            <div style="height:250px;overflow:auto">
              <ion-list radio-group [(ngModel)]="selectedContact">
                <ion-item class="item" *ngFor="let contact of contacts">
                  <ion-label>{{contact}}</ion-label>
                  <ion-radio [value]="contact"></ion-radio>
                </ion-item>
              </ion-list>
            </div>

            <p style="font-size:1.5em;">Not on the list? You may also join as guest by entering your name</p>
            <ion-item class="transparentBackground">
              <ion-label>
                <ion-icon name="person"></ion-icon>
              </ion-label>
              <ion-input type="text" placeholder="Please enter your name">
              </ion-input>
            </ion-item>
            <br>
            <br>
            <button class="btnWidth" ion-button primary outline (click)="backToHome()">Back</button>
            <button class="btnWidth" ion-button primary (click)="continueStageTwo()">Continue</button>

          </div>
          </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <div class="infoPhone" *ngIf="openInfoSection">


          <h3 text-center>Healthrix Business Information</h3>

          <p >
            We help global healthcare organizations address complex challenges by seamlessly integrating analytics, technology, operations
            and medical expertise. Clients choose Indegene when they want real results. We help clients drive revenue and
            productivity by making giant leaps in digital transformation, customer engagement, health reform, healthcare
            cost reduction, and health outcomes improvement. We work with over 85 global customers including bio-tech companies,
            medical device manufacturers, life science organizations, health plans, accountable care organizations, healthcare
            co-ops, and provider organizations. We offer Medical, Marketing, Risk, Healthcare Quality, Clinical Effectiveness,
            and Care Management solutions through a comprehensive portfolio of solutions and technology platforms. With
            offices in the United States, United Kingdom, China, India, and Australia, Indegene can partner globally with
            clients; leverage a global talent pool of clinicians, technologists, creative specialists, domain experts,
            and business process specialists; deploy global infrastructure assets; and harness global healthcare knowledge
            to solve complex industry challenges. We are recognized global leaders in improving health and business outcomes
            for the healthcare industry. Our teams, products, and innovation are recognized by leading analyst firms, industry
            associations and most importantly by our customers winning in the market place. With over 50 industry awards
            across customer engagement, creative and medical, our ability to drive real outcomes for our customers is unparalleled.
          </p>
        </div>

        <div *ngIf="openPresInfo" class="welcome">
          <h3>Connected as: Karandeep</h3>
          <p>Sharing will start shortly</p>
          <br>
          <br>
          <img src="../assets/imgs/sample.jpg" class="avatar">
          <h2>Dr. Allan Kaufman</h2>
          <p>MBBS. MD</p>
          <p>
            <ion-icon name="ios-call-outline"></ion-icon>&nbsp;647-404-1889</p>
          <p>
            <ion-icon name="ios-mail-outline"></ion-icon>&nbsp;alan.kaufman@indegene.com</p>
        </div>

      </ion-col>
    </ion-row>


    <ion-row class="bar">
      <ion-col style="background:#003E6E" text-center col-3>
        <button ion-button clear (click)="openInfo()">
          <ion-icon class="infoIcon" name="ios-information-circle-outline"></ion-icon>
        </button>
      </ion-col>
      <ion-col style="background:#003E6E" text-center col-3>
        <button ion-button clear (click)="openPresenterInfo()">
          <ion-icon class="infoIcon" name="person"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-6 style="background:#003E6E" text-right>
        <button ion-button clear (click)="exit()">
          <ion-icon class="infoIcon" name="md-exit" ></ion-icon>
        </button>
      </ion-col>

    </ion-row>
  </ion-grid>

    </div>
  </ion-content>