page-home {
    font-family: Helvetica;

    ion-grid{
        height:100%;
    }


.infoIcon{
        color:white;
        font-size:20px;
        background:#003E6E;
    }
    .btnWidth{
        width:100px;
    }
    .wrap{
        width:100%;
        overflow: auto;

    }
    .information-circle-outline{
        margin-top:10px;
    }
    .tokenInput{
        border-bottom: 1px solid grey;
        width:25px;
        margin:3px;
        padding:0;
        display:inline-block;
    }
    .bar{

    background:#003E6E;
    margin-top:-2%;

    }
    .welcome{
        margin-bottom: auto;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width:40em;
        color:white;
        background: #1B75BB;
        padding-bottom:6%;
    }
    .bgColor{
        background: linear-gradient(#065A9B, #1B75BB);
    }
    .thankYou{
        margin-top:10%;
        margin-bottom: auto;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width:100%;
        height:100%;
        overflow: auto;
        color:white;
        a:link {
            text-decoration: none;
        }
    }
 .avatar{
        border-radius:50%;
        border: 6px solid skyblue;
    }
    .light{
        background-color: #1B75BB;
        padding-left:0;
        margin-left:0;
        border-left:1px solid #1B75BB;
    }
    .info{
        color:white;
        padding-bottom:4%;
        background: #1B75BB;
    }
    .infoPhone{
        color:white;
        background: #1B75BB;
        margin-bottom:0;
        padding:2%;

    }
    .left-pane{
        float: left;
        width: 40%;
        position:absolute;
    }
    .right-pane{
        float:right;
        width:60%;
        text-align: center;
        margin-top: 5%;
        position:relative;
        padding-left:5%;
    }
        ion-list{
        background: #003E6E;
    }
    .colors{
        background:  rgb(240, 236, 236) !important;
    }

    @media only screen and (min-width : 1024px){
        .left-pane{
            max-width:40%!important;
        }
        .right-pane{
            max-width:60%!important;
        }
        .phone{
            display:none;
        }
    }

    @media only screen and (min-width : 760px) and (max-width : 1024px){
        .left-pane{
            max-width:45%!important;
        }
        .right-pane{
            max-width:55%!important;
        }
        .phone{
            display:none;
        }
    }

    @media only screen and (max-width: 450px){
        .wrap{
            display:none;
        }
        .phone{
            max-width:100% !important;
        }
        .welcome{
            max-width:100% !important;
            padding-bottom:22%;
            padding-top:4%;
            margin-bottom:0;

        }
        .bar{
            margin-top:-2%;
        }
        .noPhone{
            display:none;
        }


}
}