thankyou {
    background: linear-gradient(#065A9B, #1B75BB);
    .thankyou{
        margin-top: 20%;
        margin-bottom: auto;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width:55em;
        color:white;
        a:link {
            text-decoration: none;
        }
    }
    @media only screen and (max-width: 450px){
           .thankyou{
            width: 100%;
            margin-top:50%;
            
        }
    }
}
