<!-- Generated template for the ThankyouComponent component -->
<div class="thankyou">
  <h3>Thank You</h3>
  <br>
  <p>Thanks for participating. For further inquiries,<br>you can reach us on our website below.</p>
  <br>
  <a style="color:white" href="https://indegene.com/">www.indegene.com</a>
</div>