<ion-content>
    <div class="waitingScreen" *ngIf="!iframeService.hasSource">
        <p>Ayo wait a minute</p>
    </div>
    <div *ngIf="iframeService.hasSource">
        <iframe [src]="iframeService.sourceURL" class="iframeElement" frameborder="0" [height]="iframeService.iframeHeight" width="100%"></iframe>
    </div>
</ion-content>
